/* Remove default browser gaps */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:black;
font-size:larger;
}

/* HEADER */

#header{
display:flex;
align-items:center;
justify-content:center;
gap:15px;
}

#logo{
width:80px;
height:80px;
}

#clgname{
font-weight:800;
font-size:55px;
color:rgb(248,162,3);
text-shadow:3px 3px 6px rgb(92,92,228);
}

/* TAGLINE */

.tagline{
color:white;
font-style:italic;
font-size:20px;
text-align:center;
margin-top:5px;
padding-top: 10px;
}

/* MENU */

#linear{
color:rgb(101,101,252);
display:flex;
justify-content:flex-end;
gap:40px;
padding:20px;
font-size:30px;
padding-top: 100px;
padding-right : 100px;
}

#linear div:hover{
color:orange;
cursor:pointer;
transition:0.3s;
transform:scale(1.1);
}

/* MAIN SECTION */

#main{
display:flex;
justify-content:space-between;
padding:40px;
}

/* LOGIN */

#first{
color:red;
font-weight:600;
font-size:28px;
padding-left :45px;
}

input{
width:350px;
height:35px;
font-size:20px;
margin-top:10px;
border-radius:20px;
padding-left:10px;
border:none;
}

/* BUTTONS */

button{
color:white;
background:blue;
margin-right:10px;
width:90px;
height:55px;
transition:0.3s;
}

button:hover{
color:orange;
cursor:pointer;
transform:scale(1.1);
}

#buttons button{
width:150px;
height:40px;
font-size:14px;
}

/* ABOUT */

#about{
width:60%;
color:white;
}

#aboutname{
color:red;
}

#aboutparagraph{
text-align:justify;
padding-right:30px;
font-style:italic;
}

/* CONTACT */

.contact{
color:white;
padding:40px;
}

#link{
color:blue;
}

/* FOOTER */

footer{
color:red;
background:grey;
text-align:center;
padding:10px;
height: px;
}